Pyrogram 2.0.99
tgcrypto
py-tgcalls==0.8.6
python-dotenv
youtube_dl
youtube-dl
youtube_search_python
requests
aiohttp
cchardet
aiodns
aiohttp[speedups]
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg
Pillow
python-arq
future
psutil
wget
yt_dlp
